.navbar-custom {
    background-color: #424242;
    border-color: #AA0000;
    border-radius: 0;
	opacity: 0.7;
}

.navbar-custom2 {
    background-color: #424242;
    border-color: #AA0000;
    border-radius: 0;
}

.main{
	padding-top: 40px;
}

.marcus{
	opacity:0.4;
	position: fixed;
	top: 30px;
	right: 13px;
}

.marcus:hover{
	opacity:0.7;
	color:white;
}

.footer{
	color: black;
	opacity: 0.7;
	padding-top:3px;
	background-color: #929292;
}

.center{
	text-align:center;
}

* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}
.myVid {display: block}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  position: relative;
  top: -50px;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 200s;
  animation-name: fade;
  animation-duration: 200s;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 200s;
  animation-name: fade;
  animation-duration: 200s;
}

@-webkit-keyframes fade {
  from {opacity: .95} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .95} 
  to {opacity: 1}
}